<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
        <ion-button>Hello</ion-button>
        <ion-button>World</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Zoom Repro</h1>
    <p>The most consistent method of reproducing the freeze is to try to zoom out while the site already zoomed all the way out. Sometimes, when the zoom returns to normal you can't scroll.</p>
    <p>It seems that waiting ~5 seconds will let you scroll again.</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
</ion-content>
